tr.mostDeaths {
  background-color: rgb(255, 113, 113) !important;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  height: 50px;
  border: 1px solid black;
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ffdfa4;
}

th {
  background-color: rgb(253, 255, 145);
  color: black;
}

/* Style The Dropdown Button */

.dropbtn {
  background-color: rgb(253, 255, 145); 
  color: black;
  padding: 16px;
  font-size: 16px;
  border: 0.5px solid black;
  border-bottom: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
  display: block;
}

#searchBar {
  padding: 12px 16px;
  margin: 15px;
  margin-left: 0px;
}